<%= form_for(@micropost) do |f| %>
    <%= f.text_area :content, class: "form-control",placeholder: "Compose new micropost..." %>
     <br>
     <%= f.submit "Post", class: "btn btn-primary" %>
     <span class="image">
        <%= f.file_field :image %>
    </span>
    
<% end %>
  